<!DOCTYPE html>
<html>
  <head>
    <style>

      body {
        position: relative;
        top: 50px;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        background-image: url('http://www.goodwp.com/images/201105/goodwp.com_18403.jpg');
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: 1400px 800px;
      }
      #submit{
        background: none;
        border: none;
        cursor: pointer;
      }
    </style>
    <meta charset="utf-8">
    <title>Rock | Paper | Scissors</title>
  </head>
    <h1>Welcome to RPS Game</h1>
  <body>
    <h2>Please enter your name:</h2>
    <form action="/sign_in" method="post">
      <input type="text" name="name">
      <input id="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
